/* Path: src/components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #a259ff;
}
.links a {
  margin-left: 1.5rem;
  font-weight: 500;
  color: white;
  transition: color 0.2s;
}
.links a:hover {
  color: #a259ff;
}

.logoutBtn {
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #a259ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logoutBtn:hover {
  background-color: #8b44e0;
}